// Variables de couleurs

$white : white;
$black : black;

$light-grey : #E7E7E7;
$grey : #C7BEBE;

$primary-color : #D04F4F;

$filter-color-1 : #3282F7;
$filter-color-2 : #68D9A4;
$filter-color-3 : #ED6454;

// Tailles de caractères

$normal-text-size : 18px;
$small-text-size : 16px;

// Polices de caractères

$text-font : 'Lato', Arial, Helvetica, sans-serif;
