* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.displayed-recipe {
  background-color: #E7E7E7;
  border-radius: 0.5555555556em;
  overflow: hidden;
}
.displayed-recipe__image-frame {
  height: 11.1111111111em;
  background-color: #C7BEBE;
}
.displayed-recipe__header {
  padding: 1.1111111111em 1.1111111111em 0px 1.1111111111em;
}

.displayed-recipe__main--ingredients-item {
  white-space: nowrap;
}

.displayed-recipe__main--ingredients-item-qtt {
  font-weight: 400;
}

.displayed-recipe__main {
  padding: 1.3333333333em 1.1111111111em 2.7777777778em;
  display: flex;
  gap: 1.6666666667em;
}
.displayed-recipe__main--ingredients {
  list-style: none;
  width: 50%;
}
.displayed-recipe__main--ingredients-item {
  font-weight: 600;
}
.displayed-recipe__main--description {
  width: 50%;
}

.displayed-recipe__header {
  display: flex;
  align-items: center;
}

.displayed-recipe__header--duration {
  display: flex;
  align-items: center;
  gap: 0.3888888889em;
  margin-left: auto;
  font-size: 1.5em;
  font-weight: 600;
}
.displayed-recipe__header--duration-text {
  white-space: nowrap;
}

.displayed-recipe__header--title {
  font-weight: 500;
}

.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3.3333333333em 0.5555555556em 1.6666666667em;
}

.main-header__image-frame {
  width: 16.6666666667em;
}
.main-header__image-frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-content__search-current-tags:empty {
  padding: 0px;
}

.main-content__search-current-tags--tag {
  font-size: 16px;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  padding: 0.5555555556em;
  display: flex;
  align-items: center;
  color: white;
  border: none;
  border-radius: 0.2777777778em;
  gap: 0.2777777778em;
  cursor: pointer;
}
.main-content__search-current-tags--tag.tag-ingredients {
  background-color: #3282F7;
}
.main-content__search-current-tags--tag.tag-appliance {
  background-color: #68D9A4;
}
.main-content__search-current-tags--tag.tag-ustensils {
  background-color: #ED6454;
}
.main-content__search-current-tags--tag i {
  font-size: 1.2em;
}
.main-content__search-current-tags--tag span::first-letter {
  text-transform: capitalize;
}

.main-content__search-current-tags {
  margin-top: 1.1111111111em;
  display: flex;
  gap: 0.5555555556em;
  flex-wrap: wrap;
}

.main-content__search-filters {
  margin-top: 1.1111111111em;
  gap: 1.1111111111em;
  display: flex;
}

.main-content__filter {
  border: none;
  position: relative;
}
.main-content__filter:first-child input {
  background-color: #3282F7;
}
.main-content__filter:nth-child(2) input {
  background-color: #68D9A4;
}
.main-content__filter:nth-child(3) input {
  background-color: #ED6454;
}
.main-content__filter input {
  min-width: 21em;
  height: 4em;
  color: white;
  padding: 1.3888888889em;
  border: none;
  border-radius: 0.2777777778em;
  font-size: 18px;
  font-family: "Lato", Arial, Helvetica, sans-serif;
}
.main-content__filter input::placeholder {
  opacity: 0;
  font-size: 18px;
  font-family: "Lato", Arial, Helvetica, sans-serif;
}
.main-content__filter label {
  position: absolute;
  left: 1.3888888889em;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  white-space: nowrap;
  color: white;
  opacity: 0;
  cursor: text;
}
.main-content__filter input:placeholder-shown + label {
  opacity: 1;
}
.main-content__filter input:focus + label {
  opacity: 0;
}
.main-content__filter input:focus::placeholder {
  opacity: 0.5;
}
.main-content__filter-btn {
  position: absolute;
  right: 0px;
  padding: 0px 1.3888888889em;
  top: 0px;
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transform: rotate(-180deg);
  transition: all 0.2s ease-in-out;
}
.main-content__filter-btn i {
  color: white;
  font-size: 1.6666666667em;
}
.main-content__filter .main-content__search-filters--suggestions {
  position: absolute;
  padding: 1.1111111111em;
  top: 96%;
  left: 0px;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(9, auto);
  min-width: 100%;
  column-gap: 3.3333333333em;
  border-radius: 0px 0.2777777778em 0.2777777778em 0.2777777778em;
  z-index: 5;
}
.main-content__filter:first-child .main-content__search-filters--suggestions {
  background-color: #3282F7;
}
.main-content__filter:nth-child(2) .main-content__search-filters--suggestions {
  background-color: #68D9A4;
}
.main-content__filter:nth-child(3) .main-content__search-filters--suggestions {
  background-color: #ED6454;
}

.main-content__search-filters--suggestions-btn:nth-child(n+27) {
  display: none;
}

.main-content__filter.panel-hidden .main-content__search-filters--suggestions {
  display: none;
}
.main-content__filter.panel-hidden .main-content__filter-btn {
  transform: rotate(0deg);
  transition: all 0.2s ease-in-out;
}

.main-content__search-filters--suggestions-no-one-left {
  color: white;
  display: block;
  white-space: nowrap;
  height: 1.3888888889em;
  font-size: 16px;
  border: none;
  text-align: left;
  opacity: 0.75;
  font-style: italic;
}

.main-content__search-filters--suggestions-btn {
  color: white;
  display: block;
  white-space: nowrap;
  height: 1.3888888889em;
  background-color: transparent;
  font-size: 18px;
  border: none;
  text-align: left;
  cursor: pointer;
}
.main-content__search-filters--suggestions-btn:first-letter {
  text-transform: uppercase;
}
.main-content__search-filters--suggestions-btn:not(:last-child) {
  margin-bottom: 0.5555555556em;
}

.main-content {
  padding: 0px 5.5555555556em;
}

.main-content__display {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 4.4444444444em 0px;
  gap: 2.7777777778em;
}

.main-content__searchbar {
  border: none;
  position: relative;
}
.main-content__searchbar label {
  position: absolute;
  left: 1.3333333333em;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  opacity: 0;
  cursor: text;
}
.main-content__searchbar input {
  width: 100%;
  background-color: #E7E7E7;
  padding: 1.3333333333em;
  border-radius: 0.2777777778em;
  border: none;
  height: 4em;
  font-size: 18px;
  font-family: "Lato", Arial, Helvetica, sans-serif;
}
.main-content__searchbar input::placeholder {
  opacity: 0;
  font-size: 18px;
  font-family: "Lato", Arial, Helvetica, sans-serif;
}
.main-content__searchbar-icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0px;
  height: 100%;
  width: 5.5555555556em;
  background-color: transparent;
  border: none;
  top: 0px;
}
.main-content__searchbar-icon i {
  font-size: 1.9444444444em;
}
.main-content__searchbar-icon:hover {
  background-color: transparent;
}
.main-content__searchbar input:placeholder-shown + label {
  opacity: 0.25;
  transition: all 0.15s ease;
}

/*# sourceMappingURL=main.css.map */
